.benefits {
    padding: 70px 0 64px 0;
    min-height: 473px;
    background-color: $benefits-color;
    
    &__wrapper {
        margin-top: 60px;
        display: flex;
        justify-content: space-between;
    }

    &__item {
        display: flex;
        flex-direction: column;
        &-wrap {
            width: 70px;
            margin: 0 auto;
            img {
                display:block;
                width: 100%;
            }
        }
    }

    &__subtitle {
        margin-top: 35px;
        font-weight: 900;
        font-size: 18px;
        text-align: center;
        color: $black-color;
    }

    &__descr {
        margin-top: 20px;
        width: 269px;
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        text-align: center;
        color: #0D0D0D;
        a {
            font-weight: 300;
            font-size: 14px;
            line-height: 18px;
            text-decoration-line: underline;
            color: #FF0000;
        }
    }

}